<a [routerLink]="['/consultantDetails', -1]"> 
    <button type="button" class="btn btn-primary pull-left" id="openCreateJobPage">Create Consultant</button></a>
    <div class="row">
        <div class="col-lg-4">                    
           <div class="input-group">
               <select class="form-control" [(ngModel)]="searchType" >
                 <option value="fullName" selected>Full Name</option>
                 <option value="contactAddress">Contact Address</option>
                 <option value="contactEmail">Contact Email</option>
                </select>
             <input type="text" class="form-control" [(ngModel)]="searchValue" placeholder="Enter search query..." aria-label="Recipient's username" aria-describedby="basic-addon2">
             <span class="input-group-addon" id="basic-addon2" (click)="searchConsultant()">Search</span>
           </div>
      </div>
   </div>
<table class="table table-bordered">
 <tr>
  <th>Full Name</th><th>Contact Address</th><th>Contact Email</th><th>Created On</th><th>Action</th>
 </tr>   
 <tr *ngFor="let item of consultants"> 
 <td>{{item?.fullName}}</td>
 <td>{{item?.contactAddress}}</td>
 <td>{{item.contactEmail}}</td> 
 <td>{{item.createdAt | date:'yMMMd'}}</td>
 <td>
     <a [routerLink]="['/consultantDetails', item.$key]"><span>Details</span></a>
     <a (click)="deleteConsultant(item.$key)">Delete</a>
  </td>
 </tr>
</table>
