<div class="row">
        <div class="col-md-4">
          <p>MMI IT is committed to leveraging its corporate values and operating model to achieve the highest level of performance and respect within the industry . We have developed a highly efficient delivery model for supporting a wide array of clients with expertise on supporting high-volume contingent worker programs. MMI IT has an in-depth knowledge of the needs of Supply Chain organizations and has extensive experience working with all of the major Managed Service Providers (MSPs) and Vendor Management Systems (VMS). MMI has developed a reputation for achieving its Service Level Agreements across all IT skills and for helping its clients staff some of their most challenging positions. These include: </p>
           <ul>
             <li>Business Analysts</li>
             <li>Database Administrators, Developers, and Analysts.</li>
             <li>Enterprise and Software Architects</li>
             <li>Helpdesk Technicians and Helpdesk Support</li>
             <li>IS and IT Managers</li>
             <li>Network Engineers, Administrators, and Security</li>
             <li>Project Managers and Development Managers</li>
             <li>QA Engineers, Leads, and Managers</li>
             <li>Software Engineers and Developers</li>
             <li> Systems Analysts, Engineers, and Administrators</li>
             <li> Systems Architects </li>
             <li>Web Developers and Programmers </li>  </ul>  
        </div>
        <div class="col-md-4">
          <p>
            Our team thrives on creating extraordinary events, and seeing them through to spectacular conclusion. Fête events are raved about time and again because every facet of the experience speaks the same language. Cohesive creativity is our touchstone, and no detail goes unconsidered—be it food, service, music or design. These unite in harmony, creating a spirit of enthusiasm and celebration. While based in New York, we are hired for events around the country and worldwide.
          </p>
           <ul class="list">
              <li>Manage the planning process, developing the overall event vision</li>
              <li>Creativity/Integration across all facets – design, music, food, photography, etc…</li>
              <li>Ensure client’s voice is upheld throughout process</li>
              <li>Venue and vendor selection, contract management</li>
              <li>Budget planning and management</li>
              <li>Coordination of paper product design, production and mailing assembly</li>
              <li>Logistical management of vendor load-in, production and load-out</li>
              <li>Onsite day-of management and ownership of event execution</li>
              <li>Manage flow/orchestration of all timing &amp; details throughout</li>
              </ul>          
        </div>
        <div class="col-md-4">
        MMI's robust delivery model enables project-based solutions. Our paradigm for supporting projects is simple: work closely with our clients to understand resource requirements, then build highly proficient teams to produce deliverables on- time and within budget
         In most cases, MMI provides complete project management and oversight of deliverables. We have experience building project teams with the following competencies: 
        <ul>
          <li>Project Management.</li>
          <li>Business Analysis.</li>
          <li>Custom Application Development</li>
          <li>Software Testing</li>
          <li>Data Warehousing</li>
          <li>Business Intelligence </li>
          <li>Mobile Application Development</li>
          <li>Infrastructure Data Center Automation</li>
         </ul>
        </div>
  </div>


