<div class="container-fluid bg-3 text-center">    
  <h3>Our Team</h3><br>
  At Silverleaf, our team is comprised of some of the most skilled and talented people in the industry,
   each with a unique background and area of expertise. 
    What makes our team so successful is their ability to not only thrive within their own roles, 
    but to also be experienced and passionate event managers, planners and producers.
  <div class="row">
    <div class="col-sm-6"> 
      <p>Raj</p>
      <img src="assets/images/Raj2.png" title="Rajeev Chaudhary" width="350" height="300">
    </div>
     <div class="col-sm-6"> 
      <p>Raj</p>
      <img src="assets/images/Raj1.png" title="Rajneesh Balayan" width="350" height="300">
    </div>
  </div>
</div>
